

<nav class="navbar navbar-expand-xl navbar-dark bg-success">
    <a class="navbar-brand" href="/"><img src="/img/cycle.svg" alt="bike" width=75px height=75px></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <h1>Cycle Aware</h1>
        <img src="<%= user.avatar %>" alt="" class="rounded-circle ml-auto" height="35" width="35">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/dashboard" class="nav-link text-dark"><%= user.firstname %> <%= user.lastname %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/users/parents">Parents</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/users/education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/users/elderly">Elderly</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/users/allPosts">View all posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="/users/create-post">Add Post</a>
            </li>
        </ul>
        <a href="/users/logout" class="btn btn-secondary" style="margin: 5px;">Logout</a>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container pt-5 pb-5">
        <h1 class="display-4">Digital learning for all ages.</h1>
        <p class="lead">New Digital Citizenship Lessons Are Here Free!</p>
    </div>
</div>