<nav class="navbar navbar-expand-xl navbar-dark bg-success">
    <a class="navbar-brand" href="/"><img src="/img/cycle.svg" alt="cycle" width=75px height=75px></a>
    <h1>Cycle Aware</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ml-auto">
         
            <li class="nav-item">
                <a class="nav-link text-white btn btn-secondary" href="/users/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white btn btn-secondary" href="/users/register">Become a member</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">

    <h1 class="h1 text-center mt-5 pt-5">Welcome to your Cycle Aware online portal</h1>

    <div class="row mt-5 mb-5">
        <div class="col-md-6 m-auto">
            <div class="mt-5 card card-body text-center">
                <h1><i class="fas fa-user-friends fa-2x"></i></h1>
                <p>Create an account or login</p>
                <a href="/users/register" class="btn btn-success btn-block mb-2">Register</a>
                <a href="/users/login" class="btn btn-secondary btn-block mb-2">Login</a>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 50px;"></div>