.jumbotron {
	padding: 6rem 0;
	font-family: 'Roboto', sans-serif;
}

.nav-item {
	margin: 5px;
}

/* .active {
    padding-bottom: 10px;
    border-bottom: solid black 3px;
} */
.dropdown > .dropdown-menu {
	top: 200%;
	transition: 0.3s all ease-in-out;
}
.dropdown:hover > .dropdown-menu {
	display: block;
	top: 100%;
}

.dropdown > .dropdown-toggle:active {
	/*Without this, clicking will make it sticky*/
	pointer-events: none;
}
